
.card {
  padding: 2em;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px
}

li {
  list-style: none;
}


.w-full {
  width: 100%;
}

.card-shadow {
  box-shadow: 1px 4px 18px -4px #e5e5e5 !important
}

.MuiInput-root {
  &:before {
    border-bottom: 1px solid rgb(96 96 96 / 14%) !important
  }
}
.MuiButton-contained{
  color: #eeeeee !important;
}