
.hero-root{
    position: relative;
    background-image: url("/bg-logo.png");
    height: calc(100vh - var(--header-height));
    background-size: auto;
    //width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0f141e;
}

.hero-car-image{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}